%p.story 
  Once upon time there was
  %span.noun=@story.noun.en.a
  called
  %span.proper_noun=@story.proper_noun.capitalize
  who loved to
  %span.verb=@story.verb
  everything in town. 
  All day long and well into the night, 
  %span.proper_noun=@story.proper_noun.capitalize
  would 
  %span.adverb=@story.adverb
  %span.verb=@story.verb
  %span.pronoun=@story.pronoun 
  %span.noun=@story.noun.pluralize
  When 
  %span.proper_noun=@story.proper_noun.capitalize 
  got close enough to see what it was, she found out it was 
  %span.adjective=@story.adjective.en.a
  %span.noun=@story.noun
  %b three