%p.story 
  Once upon time there was a
  %span.proper_noun=@story.proper_noun
  who loved to
  %span.noun=@story.noun.en.a
  %span.verb=@story.verb
  past the trees. 
  %span.proper_noun=@story.proper_noun.capitalize
  was curious to see what it was so she
  %span.adverb=@story.adverb
  ran as fast as she could toward 
  %span.pronoun=@story.pronoun
  When she got close enough to see what it was, she found out it was 
  %span.adjective=@story.adjective.en.a
  %span.noun=@story.noun
  %b three