%p
=partial @story.partial
%a{ :href => '/'} Click on me to call your own story!#picture
%br
%button{ :href => '/'} Click here to copy the url and share by pasting the link!#picture
.des.proper_noun  
  %big 
    A
    %b Proper noun
  is a noun that denotes a particular thing; usually capitalized.
.des.adverb 
  %big 
    An 
    %b Adverb
  is a word used to describe, or modify, how, when, where, or to what extent the verb performs.
.des.noun 
  %big 
    A
    %b Noun
  is a word used to name a person, place, thing, or idea. A noun can be a proper noun or a common noun.
.des.pronoun 
  %big 
    A
    %b Pronoun
  is a word that replaces a person, place, thing, or idea. Pronouns can act as subjects or objects, and some can show possession.
.des.verb  
  %big 
    A
    %b Verb
  is a word used to name a person, place, thing, or idea. A noun can be a proper noun or a common noun
.des.adjective 
  %big 
    An
    %b Adjective 
  is a word used to name a person, place, thing, or idea. A noun can be a proper noun or a common noun